@{
    Layout = "_Layout";
}



<form method="post" action="/home/contact">
    <input type="text" placeholder="Enter username" name="uname" />
    <input type="text" placeholder="Enter last name" />
    <input type="text" placeholder="Enter email" />
    <input type="text" placeholder="Enter phone" />
    <input type="submit" />

</form>

<h1>@ViewBag.Message</h1>