@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Grocery Store</title>
</head>
<body>
    <nav>
        <div class="logo-container">
            <img src="./img/logo.png" alt="logo">
        </div>

        <div class="menu">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Features</a></li>
                <li><a href="">Catagrioes</a></li>
                <li><a href="">Products</a></li>
                <li><a href="">Contact us</a></li>
            </ul>
        </div>
    </nav>

    <section>
        <div>
            <img src="./img/banner.jpg" alt="Banner">
        </div>
    </section>

    <section>
        <br><br><br>
        <div class="feature-text">
            <h1>Our Features</h1>
        </div>
        <br><br>
        <div class="outer-div">

            <div class="first-div">
                <img src="./img/firstdivimage.png" alt="">
                <h2>Fresh and Organic</h2>
                <p class="div-paragh">Lorem ipsum dolor sit amet, consectetuer 
                    adipiscing elit. Aenean commodo ligula eget dolor.</p>
                    <div class="read-more">
                    <button>Read more</button>
                </div>
            </div>


            <div class="first-div">
                <img src="./img/forseconddiv.jpg" alt="">
                <h2>Food Delivery</h2>
                <p class="div-paragh">Lorem ipsum dolor sit amet, consectetuer 
                    adipiscing elit. Aenean commodo ligula eget dolor.</p>
                    <div class="read-more">
                    <button>Read more</button>
                </div>
            </div>
            <div class="first-div">
                <img src="./img/essay.jpg" alt="">
                <h2>Easy Payment</h2>
                <p class="div-paragh">Lorem ipsum dolor sit amet, consectetuer 
                    adipiscing elit. Aenean commodo ligula eget dolor.</p>
                    <div class="read-more">
                    <button>Read more</button>
                </div>
            </div>

        </div>
    </section>
    <br><br><br><br><br><br>
   <section class="footer">
    <div class="footer-outer">
        <div class="footer-img">
            <img src="./img/logo.png" alt="logo">
        </div>

        <div class="content-div">
            <p>Email: mudassarjani096@gmail.com</p>
            <p>Phone: +923344420654</p>
            <p>Location: Diamond Market cantt sialkot</p>
        </div>
    </div>
   </section>
    
</body>
</html>